<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body { padding:3% }
    </style>
</head>
<body>
<form id="frm" method="post" action="#">
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> <span id="errTxt"></span>
    </div>
    <input type="hidden" name="placeID" id="placeID" value="<%= place ? place._id : null %>">
    <input type="hidden" name="fbID" id="fbID" value="<%= fbID %>">
    <input type="hidden" name="locReq" id="locReq">
    <div class="form-group">
        <label for="placeName">Name:</label>
        <input class="form-control" id="placeName" name="placeName" placeholder="Name" value="<%= place ? place.name : null %>" required>
    </div>
    <div class="form-group">
        <label for="placeDesc">Description:</label>
        <textarea class="form-control" id="placeDesc" name="placeDesc" placeholder="Description" required><%= place ? place.text : null %></textarea>
    </div>
    <div class="form-group">
        <label for="placeTown">Town:</label>
        <select class="form-control" id="placeTown" name="placeTown" value="<%= place ? place.town : null %>">
            <option >Zagreb</option>
            <option >Split</option>
            <option >Peckham</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary" >Save</button>
    <button type="button" class="btn btn-danger" id="btCancel">Cancel</button>
    <button type="submit" class="btn btn-success" id="btLocation">Location</button>
</form>

<script>
    //No Messenger extensions, just clean form, maybe some
    $('.alert').hide(); //Hide error
    function error(txt){ //leave it for now
        $('#errTxt').text(txt);
        $('.alert').show();
    }

    $('#frm').submit(()=>window.close());

    $('#btCancel').click((e)=>{
        e.preventDefault();
        window.close()
    });
    $('#btLocation').click(()=>{
        //submit continues
        $('#locReq').val('Yes');
    });
</script>
</body>
</html>
